In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
JC_2017_01 = pd.read_csv("trip_data/JC-201701-citibike-tripdata 2.csv")
JC_2017_02 = pd.read_csv("trip_data/JC-201702-citibike-tripdata.csv")
JC_2017_03 = pd.read_csv("trip_data/JC-201703-citibike-tripdata.csv")
JC_2017_04 = pd.read_csv("trip_data/JC-201704-citibike-tripdata.csv")
JC_2017_05 = pd.read_csv("trip_data/JC-201705-citibike-tripdata.csv")
JC_2017_06 = pd.read_csv("trip_data/JC-201706-citibike-tripdata.csv")
JC_2017_07 = pd.read_csv("trip_data/JC-201707-citibike-tripdata.csv")
JC_2017_08 = pd.read_csv("trip_data/JC-201708 citibike-tripdata.csv")
JC_2017_09 = pd.read_csv("trip_data/JC-201709-citibike-tripdata.csv")
JC_2017_010 = pd.read_csv("trip_data/JC-201710-citibike-tripdata.csv")
JC_2017_011 = pd.read_csv("trip_data/JC-201711-citibike-tripdata.csv")
JC_2017_012 = pd.read_csv("trip_data/JC-201712-citibike-tripdata.csv")

In [3]:
dataframes = [JC_2017_01, JC_2017_02, JC_2017_03, JC_2017_04,JC_2017_05,JC_2017_06,JC_2017_07,JC_2017_08,JC_2017_09,JC_2017_010,JC_2017_011,JC_2017_012]
merged_trip_data = pd.concat(dataframes)
merged_trip_data = merged_trip_data.reset_index(drop = True)
merged_trip_data.to_csv("trip_data/merged_tripdata.csv")
merged_trip_data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,148,1/1/17 0:21,1/1/17 0:24,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,1/1/17 0:24,1/1/17 0:45,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,1/1/17 0:38,1/1/17 0:44,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,1/1/17 0:38,1/1/17 1:03,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,1/1/17 1:47,1/1/17 1:58,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1

In [4]:
merged_trip_data.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [5]:
merged_trip_data.index

RangeIndex(start=0, stop=294928, step=1)

In [6]:
merged_trip_data.values

array([[148, '1/1/17 0:21', '1/1/17 0:24', ..., 'Subscriber', 1983.0, 1],
       [1283, '1/1/17 0:24', '1/1/17 0:45', ..., 'Subscriber', 1978.0, 1],
       [372, '1/1/17 0:38', '1/1/17 0:44', ..., 'Subscriber', 1989.0, 1],
       ...,
       [93, '2017-12-31 22:55:10', '2017-12-31 22:56:43', ...,
        'Subscriber', 1957.0, 1],
       [186, '2017-12-31 23:20:54', '2017-12-31 23:24:00', ...,
        'Subscriber', 1964.0, 1],
       [422, '2017-12-31 23:33:55', '2017-12-31 23:40:57', ...,
        'Subscriber', 1979.0, 1]], dtype=object)

In [7]:
merged_trip_data.shape

(294928, 15)